<%- include("header") %>

  <%- include("navbar") %>

    <section class="introduction">
      <div class="container-fluid introduction-body">
        <p class="heading-greeting m-0 mb-2 ml-1">Hi, my name is</p>
        <h1 class="big-heading m-0">Prajwal Moharana.</h1>
        <h2 class="subheading">I build things for the web.</h2>
        <p class="desc-text m-0 mt-3">
          I'm a fullstack developer specializing in nothing at the moment. My current goal is to learn as much as
          possible and then decided what to specialize in. I am a student at the University of North Carolina at
          Chapel
          Hill majoring in computer science and statistics.
        </p>
        <button class="btn btn-lg btn-outline-secondary mt-5">Projects</button>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="#" alt="Headshot of Praj">
          </div>
        </div>
      </div>
    </section>


    <%- include("sidebar-left") %>
      <%- include("sidebar-right") %>
        <%- include("footer") %>