<%- include("header") %>

  <%- include("navbar") %>

    <section class="introduction">
      <div class="container-fluid introduction-body">
        <p class="heading-greeting m-0 mb-2 ml-1">Hi, my name is</p>
        <h1 class="big-heading m-0">Prajwal Moharana.</h1>
        <h1 class="mission-statement">I build things for the web.</h1>
        <h1 class="roles">Software Engineer, Fullstack Developer, and Student</h1>
        <button class="btn btn-lg btn-outline-secondary mt-4">Projects</button>
      </div>
    </section>

    <section class="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="about-title"><span class="section-title">About Me</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-6">
            <img class="px-auto" src="#" alt="Headshot of Praj">
          </div>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="about-title"><span class="section-title">Blog</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-6">
            <img class="px-auto" src="#" alt="Headshot of Praj">
          </div>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="about-title"><span class="section-title">Projects</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-6">
            <img class="px-auto" src="#" alt="Headshot of Praj">
          </div>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="about-title"><span class="section-title">Contact Me</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-6">
            <img class="px-auto" src="#" alt="Headshot of Praj">
          </div>
        </div>
      </div>
    </section>


    <%- include("sidebar-left") %>
      <%- include("sidebar-right") %>
        <%- include("footer") %>